App_WebReferences/ServproConnect/Servpro70ConnectWithNav.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/Servpro70ConnectWithNav" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Servpro70ConnectWithNav" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/Servpro70ConnectWithNav" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="CreatePlanningLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="jobNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="jobTaskNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="planningDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="resourceNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="descreption" type="string" />
            <element minOccurs="1" maxOccurs="1" name="extDescreption" type="string" />
            <element minOccurs="1" maxOccurs="1" name="startDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="startTime" type="time" />
            <element minOccurs="1" maxOccurs="1" name="endDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="endTime" type="time" />
            <element minOccurs="1" maxOccurs="1" name="salesCycle" type="string" />
            <element minOccurs="1" maxOccurs="1" name="location" type="string" />
            <element minOccurs="1" maxOccurs="1" name="contactPerson" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreatePlanningLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="CreatePlanningLine">
    <part name="parameters" element="tns:CreatePlanningLine" />
  </message>
  <message name="CreatePlanningLine_Result">
    <part name="parameters" element="tns:CreatePlanningLine_Result" />
  </message>
  <portType name="Servpro70ConnectWithNav_Port">
    <operation name="CreatePlanningLine">
      <input name="CreatePlanningLine" message="tns:CreatePlanningLine" />
      <output name="CreatePlanningLine_Result" message="tns:CreatePlanningLine_Result" />
    </operation>
  </portType>
  <binding name="Servpro70ConnectWithNav_Binding" type="tns:Servpro70ConnectWithNav_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="CreatePlanningLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/Servpro70ConnectWithNav:CreatePlanningLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreatePlanningLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreatePlanningLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Servpro70ConnectWithNav">
    <port name="Servpro70ConnectWithNav_Port" binding="tns:Servpro70ConnectWithNav_Binding">
      <address location="http://35.154.111.125:4323/ServPROLiveGST/WS/ServPro%20Technologies%20Pvt.%20Ltd./Codeunit/Servpro70ConnectWithNav" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>